envs
autocast_questions.json
autocast_competition_test_set.json
datasets
output
evaluation
submission
evaluation.ipynb
submission.zip
evaluation/evaluation.ipynb
evaluation/submission.zip
predictions.pkl
test.py
evaluation/submission/predictions.pkl
